.Brewfile.lock.json
.CFUserTextEncoding
.android
.ansible
.bash_history
.bash_sessions
.bashrc_locahost
.cache
.cups
.docker
.gem
.gnupg
.gnupg_pre_2.1
.gradle
.hyper_plugins/**
.ipython
.krew
.kube
.lesshst
.local/share/**
.matplotlib
.mongorc.js
.npm
.nvm
.omnisharp
.python_history
.ssh
.swiftpm
.terraform.d
.thumbnails
.tldr
.tldrc
.Trash
.vimfuzzyfinder
.vim/plugged/**
.viminfo
.vnc
.wget-hsts
ApkProjects
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
cron
go
repos
