# never check in a brew lock file
**/.Brewfile.lock.json

# this is all private info
.config/asciinema/install-id
.config/glab-cli/aliases.yml
.config/gh/hosts.yml
.config/git/personal
.config/neomutt/keys
# neovim packer generates this HERE for some reason
.config/nvim/plugin/packer_compiled.lua

# unsure if I can make this one go anywhere
.ssh

#------- cache and other temp files ------------
# standard don't check in cache or trash
.cache
.Trash

# this is just logs and pid, so we don't need to index it
.local/share/**
.local/state/**
logs

# working on making these go away
.android
.cups
.gnupg
.gnupg_pre_2.1
.ipython
.matplotlib
.mongorc.js
.terraform.d
.tldr
.tldrc
go
cron

# --------- I do not know what this is ------------------
.CFUserTextEncoding
.config/configstore/update-notifier-npm.json
.omnisharp
.swiftpm
.thumbnails
ApkProjects
Public
.config/nvim/lua/.luarc.json

# this is just where I keep git cloned repos for things
repos

# standard desktop folders we should generally be ignoring
Movies
Music
Pictures
Applications
Desktop
Documents
Downloads
Library

# iterm2 is weird 🤦
!Library/Application\ Support/iTerm2/DynamicProfiles/Profiles.json

